.nav-link {
  color: black;
}

.MuiBox-root .navlinkCustom:hover {
  color: "#ba000d" !important;
}

.navlinkCustom:active {
  color: "#000";
}
@media screen and (max-width: 1201px) {
  .btn-text {
    background-color: black;
    font-size: larger;
  }
}

.text-red {
  color: "red" !important;
}

.MuiContainer-root .css-usdlqb-MuiContainer-root {
  padding: 0 !important;
}
