.arrow {
  position: absolute;
  top: 30%;
}

.right {
  right: 2.5%;
  max-width: 20px;
}

.left {
  left: 0;
  max-width: 20px;
}

.testimonial .react-multi-carousel-dot-list .active-dot svg path {
  color: yellow !important;
  transition: 1s ease-in;
}

.custom-dot-list-style-testimonial {
  transition: 1s ease-in;
}
