/* custom css for video pte */
.video-img img {
  width: 30rem !important;
  height: 50% !important;
  transition: 1s ease;
}

.video-carousel .carousel {
  height: 350px;
}

.video-carousel .carousel .control-dots .dot {
  background-color: blue;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  margin: 0.5rem;
}

.video-carousel .carousel .control-dots .dot.selected,
.carousel .control-dots .dot:hover {
  opacity: 1;
  background-color: #daf52e;
  filter: alpha(opacity=100);
}

@media screen and (min-width: 1200px) {
  .video-carousel .carousel {
    height: 20rem;
  }
  .video-img img {
    width: 20rem !important;
    height: 15rem !important;
  }
}

@media screen and (max-width: 1039px) {
  .video-carousel .carousel {
    height: 280px;
  }
  .video-img img {
    width: 20rem !important;
    height: 15rem !important;
  }
}

@media screen and (max-width: 770px) {
  .video-img img {
    width: 10rem !important;
    height: 6rem !important;
  }

  .video-carousel .carousel {
    height: 170px;
  }
}
